.app {
    transition: all $darkMode__timeOut $easeOutQuart;

    &--dark-mode {
        color: $color__grey--light;
        background-color: $color__grey--dark;
        transition: all $darkMode__timeIn $easeInQuad;

        .game__content {
            color: $color__grey--dark;
            background-color: $color__grey--light;
            transition: all $darkMode__timeIn $easeInQuad;
        }

        .game__image {
            img {
                opacity: 0.8;
                transition: all $darkMode__timeIn $easeInQuad;
            }
        }

        .game__jackpot {
            color: darken($color__gold, 5%);
            border-color: $color__gold--dust;
            background-color: lighten($color__grey--dark, 25%);
            text-shadow: 1px 1px 1px rgba(#000, 0.2);
            transition: all $darkMode__timeIn $easeInQuad;
        }

        .game__date {
            time {
                color: $color__grey--dark;
            }
        }
    }
}
