html {
    box-sizing: border-box;
    font-size: 62.5%;
    height: 100%;
    scroll-behavior: auto;
}

body {
    background-color: $color__bg;
    font-size: 1.6rem;
    font-family: $font__base;
    line-height: 1.45;
    color: $color__text--main;
    overflow-x: hidden;
}

* {
    &,
    &::before,
    &::after {
        box-sizing: inherit;
    }
}

::-moz-selection {
    background: invert($color__bg);
    color: invert($color__text--main);
    text-shadow: none;
}

::selection {
    background: invert($color__bg);
    color: invert($color__text--main);
    text-shadow: none;
}

a {
    color: $color__cta;
    text-decoration: none;

    &:hover,
    &:focus {
        color: darken($color__cta, 10%);
    }
}

button {
    cursor: pointer;

    &:focus,
    &:active {
        border-color: $color__cta;
        outline: none;
    }
}

img,
svg {
    max-width: 100%;
    vertical-align: middle;
}

img {
    text-align: center;
    height: auto;
}

h1, h2, h3,
p {
    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

h2, h3 {
    font-family: $font__head;
}

h1 {
    font-family: $font__base;
    font-weight: 600;
    line-height: 1.14;
    margin-bottom: 10px;
    font-size: 3.0rem;

    @include mq(md) {
        @include responsiveFontSize(68, 1540);
    }

    @include mq(xl) {
        @include responsiveFontSize(78);
    }

    @include mq(xxl) {
        font-size: 7.8rem;
    }
}

h2, .h2 {
    font-size: 2.4rem;
    margin: 15px 0 $grid__gutter-size;

    @include mq(md) {
        @include responsiveFontSize(50, 1540);
    }

    @include mq(xl) {
        @include responsiveFontSize(50);
    }

    @include mq(xxl) {
        font-size: 5rem;
    }
}

h3, .h3 {
    margin: 10px 0;

    font-size: 2rem;

    @include mq(md) {
        @include responsiveFontSize(30, 1540);
    }

    @include mq(xl) {
        font-size: 3rem;
    }
}
